TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=ncn_Pst3XE6XAplS9dL0zXSsVYDQfnWZ
NODE_ENV=production
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Ines01
DB_DATABASE=db_solar_sys

DRIVE_DISK=s3

STORAGE_PROVIDER=RAILWAY
STORAGE_BASE_PATH=uploads

RAILWAY_STORAGE_ENDPOINT=https://t3.storageapi.dev
RAILWAY_STORAGE_ACCESS_KEY_ID=tid__rvKoQJTMlXkIzLSXupBgvwe_JOXAitrXxxzMEBhOYmAZuMYJr
RAILWAY_STORAGE_SECRET_ACCESS_KEY=tsec_rPAMl6MG6N+ElGLYnnZrfll4yG1bTkEPcgDkEO3S-l1OQn_GPt_398wQSbGKXjzFdG_Ka0
RAILWAY_STORAGE_BUCKET=efficient-drawer-hfolykbr
RAILWAY_STORAGE_REGION=auto


IMAGE_STORAGE_BASE_PATH=images
DOCUMENT_STORAGE_BASE_PATH=documents

MAX_FILE_SIZE_MB=0.5
ALLOWED_IMAGE_FORMATS=image/jpeg,image/png,image/webp
ALLOWED_DOCUMENT_FORMATS=application/pdf,application/msword
